@charset "UTF-8";
/*==========  section modal ==========*/
.overlay {
  z-index: 100;
  position: fixed;
  background-color: #000;
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.modal__div {
  position: fixed;
  max-width: 562px;
  width: 100%;
  height: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0; }
  .modal__div h2 {
    font-size: 24px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .modal__div-head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 32px; }
  .modal__div-body {
    width: 100%;
    padding: 0 32px 32px; }
    .modal__div-body .btn-group {
      margin: 32px 0 0; }
      .modal__div-body .btn-group .btn {
        margin: 0 0 8px; }
        .modal__div-body .btn-group .btn:last-child {
          margin: 0; }
  .modal__div-footer {
    width: 100%;
    padding: 32px;
    border-top: 1px solid #282828; }
    .modal__div-footer .btn-group .btn {
      margin: 0 24px 0 0; }
      .modal__div-footer .btn-group .btn:last-child {
        margin: 0; }

.modal__close {
  stroke: #000;
  fill: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: auto; }

.modal__wrapper {
  background: #fff;
  border: 1px solid #EAEAEA;
    border-radius: 16px;
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 10px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

.radio-wrapper {
  width: 100%;
  background: #F6F6F6;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 6px; }

.radio-project {
  position: relative;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  width: 50%;
  cursor: pointer;
  text-align: center; }
  .radio-project input {
    border: none;
      border-radius: 12px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
    padding: 0; }
    .radio-project input:checked {
      -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
              box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
      background: #fff; }
      .radio-project input:checked + .radio-project__text {
        color: #000; }
  .radio-project__text {
    color: #646464;
    padding: 18px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 1; }

.btn-submit {
  margin: 32px 0 0;
  width: 100%;
  min-height: 56px; }
  .btn-submit span {
    display: none; }

.icon-loader-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  stroke: #fff;
  fill: none;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.description-attention {
  width: 100%;
  background: #FFF8E8;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 17px 16px;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 32px; }
  .description-attention__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 10px 0 0;
    width: 20px;
    min-width: 20px; }
  .description-attention__text p {
    margin: 0 0 8px; }
    .description-attention__text p:last-child {
      margin: 0; }

.add-balance {
  text-align: center;
  background: #F6F6F6;
  border-radius: 8px;
  padding: 24px;
  margin: 0 auto 24px; }
  .add-balance p {
    font-weight: 500; }

.qr-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px auto;
  max-width: 206px;
  width: 100%; }

.qr-code {
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto 24px; }

.course-currency {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  font-weight: normal; }
  .course-currency p {
    font-weight: normal; }
    .course-currency p:after {
      content: '·';
      margin: 0 4px;
      display: inline-block; }
  .course-currency .sum-wrapper {
    font-size: 14px;
    font-weight: normal; }

.modal-title__mobile {
  width: 100%;
  margin: 0 0 24px;
  font-size: 24px;
  font-weight: bold;
  display: none; }

.qr-code-mobile {
  display: none; }

.qr-number {
  text-align: center;
  padding: 8px 16px;
  background: #F6F6F6;
  border-radius: 30px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 32px; }

.modal__div-v2 {
  max-width: 603px; }
  .modal__div-v2 .box-text {
    line-height: 24px;
    margin: 0 0 24px; }

.api-code {
  text-align: left; }

.modal__div-v3 {
  max-width: 629px; }

.panel_heading {
  width: 100%;
  margin: 0 0 32px; }
  .panel_heading ol li {
    margin: 0 0 24px; }
    .panel_heading ol li:last-child {
      margin: 0; }
  .panel_heading:last-child {
    margin: 0; }
  .panel_heading .block_title {
    cursor: pointer;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 8px; }
    .panel_heading .block_title h3 {
      font-weight: 500;
      font-size: 16px; }
    .panel_heading .block_title:after {
      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: url("../img/arrow-select.svg") no-repeat center;
        background-size: 100%;
      margin: 0 0 0 14px;
      width: 12px;
      height: 7px;
      min-width: 12px; }
  .panel_heading.in .block_title:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.block_hover {
  display: none;
  font-size: 14px;
  line-height: 22px; }

.copy-file {
  width: 100%;
  background: #F6F6F6;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
  margin: 12px 0 0; }

.btn-download {
  background: #fff;
  border: 1px solid #E2E2E2;
    border-radius: 12px;
  padding: 9px 16px;
  color: #000; }
  .btn-download__icon {
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.link-web br {
  display: none; }

.info-item {
  width: 100%;
  margin: 0 0 32px; }
  .info-item:last-child {
    margin: 0; }
  .info-item__title {
    width: 100%;
    margin: 0 0 16px;
    font-weight: 500; }
  .info-item__content {
    width: 100%;
    background: #F6F6F6;
    border-radius: 8px;
    padding: 24px; }
    .info-item__content .box-text {
      font-size: 14px;
      line-height: 22px;
      max-height: 308px;
      overflow: hidden; }
      .info-item__content .box-text p {
        margin: 0 0 30px; }
        .info-item__content .box-text p:last-child {
          margin: 0; }
      .info-item__content .box-text.open {
        max-height: none;
        overflow: visible; }
  .info-item .btn {
    width: 100%;
    margin: 20px 0 0; }

/*==========  section modal end  ==========*/
